In [1]:
import pandas as pd

In [2]:
movies = pd.read_clipboard()

In [3]:
movies

Empty DataFrame
Columns: [https://github.com/signup?return_to=https%3A%2F%2Fgithub.com%2Fsignup&source=login]
Index: []

In [4]:
movies = pd.read_csv(r'myMovies.csv',index_col = 0)

In [5]:
movies.sample(3)

             Name   Industry     Genre Language  Duration  Rating
Id_no.
6           Tenet  Hollywood     SciFi  English       150     8.5
4            DDLJ  Bollywood  Romantic    Hindi       150    10.0
12      Housefull  Bollywood     Drama    Hindi       150     6.0

In [6]:
movies

,Name,Industry,Genre,Language,Duration,Rating
Id_no.,,,,,,
1,Bahubali,Tollywood,Action,Telugu,170,9.5
2,Brahmastra,Bollywood,Mysterious,Hindi,180,5.0
3,Un -The Surgical Strike,Bollywood,Action,Hindi,120,10.0
4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
5,Avengers - End Game,Hollywood,Action,English,150,9.0
6,Tenet,Hollywood,SciFi,English,150,8.5
7,Major,Bollywood,Action,Hindi,140,8.0
8,Intersteller,Hollywood,SciFi,English,190,7.0
9,Gravity,Hollywood,SciFi,English,130,6.0
10,Titanic,Hollywood,Drama,English,180,9.0
11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
12,Housefull,Bollywood,Drama,Hindi,150,6.0
13,The Dictator,Hollywood,Comedy,English,150,7.0
14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
15,Sholay,Hollywood,Drama,Hindi,150,8.5

In [7]:
#movies.drop(['Id_no.'], axis=1, inplace=True)

In [8]:
movies

,Name,Industry,Genre,Language,Duration,Rating
Id_no.,,,,,,
1,Bahubali,Tollywood,Action,Telugu,170,9.5
2,Brahmastra,Bollywood,Mysterious,Hindi,180,5.0
3,Un -The Surgical Strike,Bollywood,Action,Hindi,120,10.0
4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
5,Avengers - End Game,Hollywood,Action,English,150,9.0
6,Tenet,Hollywood,SciFi,English,150,8.5
7,Major,Bollywood,Action,Hindi,140,8.0
8,Intersteller,Hollywood,SciFi,English,190,7.0
9,Gravity,Hollywood,SciFi,English,130,6.0
10,Titanic,Hollywood,Drama,English,180,9.0
11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
12,Housefull,Bollywood,Drama,Hindi,150,6.0
13,The Dictator,Hollywood,Comedy,English,150,7.0
14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
15,Sholay,Hollywood,Drama,Hindi,150,8.5

In [9]:
print(movies.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1 to 15
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15 non-null     object
 1   Industry  15 non-null     object
 2   Genre     15 non-null     object
 3   Language  15 non-null     object
 4   Duration  15 non-null     int64
 5   Rating    15 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 840.0+ bytes
None

# Q1 FIND THE LONGEST MOVIE NAME?

In [10]:
movies['Duration'].argmax()

7

In [11]:
movies['Name'][7]

'Major'

In [12]:
movies['Name'][movies['Duration'].argmax()]

'Major'

# 2- NUMBER OF MOVIES WHO GOT 10 RATINGS

In [13]:
sum(movies['Rating']==10)

2

# 3- How Many Industries Are There?

In [14]:
type(movies['Industry'].value_counts())

pandas.core.series.Series

In [15]:
movies['Industry'].value_counts()

Bollywood    7
Hollywood    7
Tollywood    1
Name: Industry, dtype: int64

In [16]:
len(movies['Industry'].value_counts())

3

In [17]:
movies['Industry'].nunique()

3

In [18]:
movies['Industry'].unique()

array(['Tollywood', 'Bollywood', 'Hollywood'], dtype=object)

# 4 - Find the least liked comedy movie name?

In [19]:
movies[movies['Genre']=='Comedy']

                Name   Industry   Genre Language  Duration  Rating
Id_no.
13      The Dictator  Hollywood  Comedy  English       150     7.0
14        Hera Pheri  Bollywood  Comedy    Hindi       140     9.0

In [20]:
movies[movies['Genre']=='Comedy']['Rating'].min()

7.0

In [21]:
movies['Name'][movies['Genre']=='Comedy'][movies['Rating']==7.0]

Id_no.
13    The Dictator
Name: Name, dtype: object

In [22]:
movies['Name'][movies[movies['Genre']=='Comedy']['Rating'].idxmin()]

'The Dictator'

# 5 - Find the longest english movie name?

In [23]:
movies['Name'][movies[movies['Language']=='English']['Duration'].idxmax()]

'Intersteller'

# 6 - What is the genre of intersteller

In [24]:
movies['Name'].str.lower()

Id_no.
1                    bahubali
2                  brahmastra
3     un -the surgical strike
4                        ddlj
5         avengers - end game
6                       tenet
7                       major
8                intersteller
9                     gravity
10                    titanic
11     yeh jawani hai deewani
12                  housefull
13               the dictator
14                 hera pheri
15                     sholay
Name: Name, dtype: object

In [25]:
movies['Genre'][movies['Name'].str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

# 7 - Avg duration of each genre

In [26]:
movies['Genre'].unique()

array(['Action', 'Mysterious', 'Romantic', 'SciFi', 'Drama', 'Comedy'],
      dtype=object)

In [27]:
movies['Genre'].nunique()

6

In [28]:
for Genre in movies['Genre'].unique():
    print(Genre, movies[movies['Genre']==Genre]['Duration'].mean())

Action 145.0
Mysterious 180.0
Romantic 150.0
SciFi 156.66666666666666
Drama 160.0
Comedy 145.0

In [29]:
movies.groupby('Genre')['Duration'].mean()

Genre
Action        145.000000
Comedy        145.000000
Drama         160.000000
Mysterious    180.000000
Romantic      150.000000
SciFi         156.666667
Name: Duration, dtype: float64

In [30]:
movies.groupby(['Genre','Industry'])['Duration'].mean()

Genre       Industry
Action      Bollywood    130.000000
            Hollywood    150.000000
            Tollywood    170.000000
Comedy      Bollywood    140.000000
            Hollywood    150.000000
Drama       Bollywood    150.000000
            Hollywood    165.000000
Mysterious  Bollywood    180.000000
Romantic    Bollywood    150.000000
SciFi       Hollywood    156.666667
Name: Duration, dtype: float64

In [31]:
movies.groupby(['Industry','Genre'])['Duration'].mean()

Industry   Genre
Bollywood  Action        130.000000
           Comedy        140.000000
           Drama         150.000000
           Mysterious    180.000000
           Romantic      150.000000
Hollywood  Action        150.000000
           Comedy        150.000000
           Drama         165.000000
           SciFi         156.666667
Tollywood  Action        170.000000
Name: Duration, dtype: float64

In [32]:
movies.describe()

         Duration     Rating
count   15.000000  15.000000
mean   153.333333   7.833333
std     19.148542   1.718249
min    120.000000   5.000000
25%    145.000000   6.500000
50%    150.000000   8.500000
75%    160.000000   9.000000
max    190.000000  10.000000

In [33]:
movies.describe(include='all')

            Name   Industry   Genre Language    Duration     Rating
count         15         15      15       15   15.000000  15.000000
unique        15          3       6        3         NaN        NaN
top     Bahubali  Bollywood  Action    Hindi         NaN        NaN
freq           1          7       4        8         NaN        NaN
mean         NaN        NaN     NaN      NaN  153.333333   7.833333
std          NaN        NaN     NaN      NaN   19.148542   1.718249
min          NaN        NaN     NaN      NaN  120.000000   5.000000
25%          NaN        NaN     NaN      NaN  145.000000   6.500000
50%          NaN        NaN     NaN      NaN  150.000000   8.500000
75%          NaN        NaN     NaN      NaN  160.000000   9.000000
max          NaN        NaN     NaN      NaN  190.000000  10.000000

In [34]:
movies.groupby('Genre').describe()

           Duration                                                            \
              count        mean        std    min    25%    50%    75%    max
Genre
Action          4.0  145.000000  20.816660  120.0  135.0  145.0  155.0  170.0
Comedy          2.0  145.000000   7.071068  140.0  142.5  145.0  147.5  150.0
Drama           3.0  160.000000  17.320508  150.0  150.0  150.0  165.0  180.0
Mysterious      1.0  180.000000        NaN  180.0  180.0  180.0  180.0  180.0
Romantic        2.0  150.000000   0.000000  150.0  150.0  150.0  150.0  150.0
SciFi           3.0  156.666667  30.550505  130.0  140.0  150.0  170.0  190.0

           Rating
            count      mean       std  min   25%   50%    75%   max
Genre
Action        4.0  9.125000  0.853913  8.0  8.75  9.25  9.625  10.0
Comedy        2.0  8.000000  1.414214  7.0  7.50  8.00  8.500   9.0
Drama         3.0  7.833333  1.607275  6.0  7.25  8.50  8.750   9.0
Mysterious    1.0  5.000000       NaN  5.0  5.00  5.00  5.000   5.0
Romantic      2.0  7.500000  3.535534  5.0  6.25  7.50  8.750  10.0
SciFi         3.0  7.166667  1.258306  6.0  6.50  7.00  7.750   8.5

In [35]:
movies.groupby('Industry').describe().T

Industry         Bollywood   Hollywood  Tollywood
Duration count    7.000000    7.000000        1.0
         mean   147.142857  157.142857      170.0
         std     17.994708   20.586635        NaN
         min    120.000000  130.000000      170.0
         25%    140.000000  150.000000      170.0
         50%    150.000000  150.000000      170.0
         75%    150.000000  165.000000      170.0
         max    180.000000  190.000000      170.0
Rating   count    7.000000    7.000000        1.0
         mean     7.571429    7.857143        9.5
         std      2.225395    1.180194        NaN
         min      5.000000    6.000000        9.5
         25%      5.500000    7.000000        9.5
         50%      8.000000    8.500000        9.5
         75%      9.500000    8.750000        9.5
         max     10.000000    9.000000        9.5

In [36]:
movies.groupby(['Genre','Industry']).describe().T

Genre               Action                        Comedy               Drama  \
Industry         Bollywood Hollywood Tollywood Bollywood Hollywood Bollywood
Duration count    2.000000       1.0       1.0       1.0       1.0       1.0
         mean   130.000000     150.0     170.0     140.0     150.0     150.0
         std     14.142136       NaN       NaN       NaN       NaN       NaN
         min    120.000000     150.0     170.0     140.0     150.0     150.0
         25%    125.000000     150.0     170.0     140.0     150.0     150.0
         50%    130.000000     150.0     170.0     140.0     150.0     150.0
         75%    135.000000     150.0     170.0     140.0     150.0     150.0
         max    140.000000     150.0     170.0     140.0     150.0     150.0
Rating   count    2.000000       1.0       1.0       1.0       1.0       1.0
         mean     9.000000       9.0       9.5       9.0       7.0       6.0
         std      1.414214       NaN       NaN       NaN       NaN       NaN
         min      8.000000       9.0       9.5       9.0       7.0       6.0
         25%      8.500000       9.0       9.5       9.0       7.0       6.0
         50%      9.000000       9.0       9.5       9.0       7.0       6.0
         75%      9.500000       9.0       9.5       9.0       7.0       6.0
         max     10.000000       9.0       9.5       9.0       7.0       6.0

Genre                      Mysterious    Romantic       SciFi
Industry         Hollywood  Bollywood   Bollywood   Hollywood
Duration count    2.000000        1.0    2.000000    3.000000
         mean   165.000000      180.0  150.000000  156.666667
         std     21.213203        NaN    0.000000   30.550505
         min    150.000000      180.0  150.000000  130.000000
         25%    157.500000      180.0  150.000000  140.000000
         50%    165.000000      180.0  150.000000  150.000000
         75%    172.500000      180.0  150.000000  170.000000
         max    180.000000      180.0  150.000000  190.000000
Rating   count    2.000000        1.0    2.000000    3.000000
         mean     8.750000        5.0    7.500000    7.166667
         std      0.353553        NaN    3.535534    1.258306
         min      8.500000        5.0    5.000000    6.000000
         25%      8.625000        5.0    6.250000    6.500000
         50%      8.750000        5.0    7.500000    7.000000
         75%      8.875000        5.0    8.750000    7.750000
         max      9.000000        5.0   10.000000    8.500000

In [37]:
names=movies['Name']

In [38]:
names

Id_no.
1                    Bahubali
2                  Brahmastra
3     Un -The Surgical Strike
4                        DDLJ
5         Avengers - End Game
6                       Tenet
7                       Major
8                Intersteller
9                     Gravity
10                    Titanic
11     Yeh Jawani Hai Deewani
12                  Housefull
13               The Dictator
14                 Hera Pheri
15                     Sholay
Name: Name, dtype: object

In [39]:
# get_dummies     ##very important

In [40]:
movies['Genre'].str.get_dummies()

        Action  Comedy  Drama  Mysterious  Romantic  SciFi
Id_no.
1            1       0      0           0         0      0
2            0       0      0           1         0      0
3            1       0      0           0         0      0
4            0       0      0           0         1      0
5            1       0      0           0         0      0
6            0       0      0           0         0      1
7            1       0      0           0         0      0
8            0       0      0           0         0      1
9            0       0      0           0         0      1
10           0       0      1           0         0      0
11           0       0      0           0         1      0
12           0       0      1           0         0      0
13           0       1      0           0         0      0
14           0       1      0           0         0      0
15           0       0      1           0         0      0

In [41]:
#names.str.index('e')

In [42]:
names.str.split('e').str.join('--+--')

Id_no.
1                               Bahubali
2                             Brahmastra
3        Un -Th--+-- Surgical Strik--+--
4                                   DDLJ
5        Av--+--ng--+--rs - End Gam--+--
6                          T--+--n--+--t
7                                  Major
8               Int--+--rst--+--ll--+--r
9                                Gravity
10                               Titanic
11    Y--+--h Jawani Hai D--+----+--wani
12                         Hous--+--full
13                      Th--+-- Dictator
14                    H--+--ra Ph--+--ri
15                                Sholay
Name: Name, dtype: object

In [43]:
names.str.join('_')

Id_no.
1                                   B_a_h_u_b_a_l_i
2                               B_r_a_h_m_a_s_t_r_a
3     U_n_ _-_T_h_e_ _S_u_r_g_i_c_a_l_ _S_t_r_i_k_e
4                                           D_D_L_J
5             A_v_e_n_g_e_r_s_ _-_ _E_n_d_ _G_a_m_e
6                                         T_e_n_e_t
7                                         M_a_j_o_r
8                           I_n_t_e_r_s_t_e_l_l_e_r
9                                     G_r_a_v_i_t_y
10                                    T_i_t_a_n_i_c
11      Y_e_h_ _J_a_w_a_n_i_ _H_a_i_ _D_e_e_w_a_n_i
12                                H_o_u_s_e_f_u_l_l
13                          T_h_e_ _D_i_c_t_a_t_o_r
14                              H_e_r_a_ _P_h_e_r_i
15                                      S_h_o_l_a_y
Name: Name, dtype: object

In [44]:
names.str.upper()

Id_no.
1                    BAHUBALI
2                  BRAHMASTRA
3     UN -THE SURGICAL STRIKE
4                        DDLJ
5         AVENGERS - END GAME
6                       TENET
7                       MAJOR
8                INTERSTELLER
9                     GRAVITY
10                    TITANIC
11     YEH JAWANI HAI DEEWANI
12                  HOUSEFULL
13               THE DICTATOR
14                 HERA PHERI
15                     SHOLAY
Name: Name, dtype: object

In [45]:
#strip() removes the free space befor or ending the string
names.str.strip()

Id_no.
1                    Bahubali
2                  Brahmastra
3     Un -The Surgical Strike
4                        DDLJ
5         Avengers - End Game
6                       Tenet
7                       Major
8                Intersteller
9                     Gravity
10                    Titanic
11     Yeh Jawani Hai Deewani
12                  Housefull
13               The Dictator
14                 Hera Pheri
15                     Sholay
Name: Name, dtype: object

In [46]:
movies['Genre'][movies['Name'].str.strip().str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

# 8 - Avg Rate of each industry

In [47]:
movies.groupby('Industry')['Rating'].mean()

Industry
Bollywood    7.571429
Hollywood    7.857143
Tollywood    9.500000
Name: Rating, dtype: float64

# 9 - Avg rating of romantic movies industry wise

In [48]:
movies[movies['Genre'].str.lower()=='romantic']

                          Name   Industry     Genre Language  Duration  Rating
Id_no.
4                         DDLJ  Bollywood  Romantic    Hindi       150    10.0
11      Yeh Jawani Hai Deewani  Bollywood  Romantic    Hindi       150     5.0

In [49]:
movies[movies['Genre'].str.lower()=='romantic'].groupby('Industry')['Rating'].mean()

Industry
Bollywood    7.5
Name: Rating, dtype: float64

# 10 - list down all the english movies with their respective rating in desc order

In [54]:
movies[movies['Language']=='English'][['Name','Rating']].sort_values(by='Rating',ascending=False)

                       Name  Rating
Id_no.
5       Avengers - End Game     9.0
10                  Titanic     9.0
6                     Tenet     8.5
8              Intersteller     7.0
13             The Dictator     7.0
9                   Gravity     6.0

In [51]:
#movies[movies['Language']=='English'][['Name','Rating']].sort_values(by='Rating',descending=True)
#gives an error

In [53]:
# kaggle.com
# github.com

In [58]:
names.str.count('e')

Id_no.
1     0
2     0
3     2
4     0
5     3
6     2
7     0
8     3
9     0
10    0
11    3
12    1
13    1
14    2
15    0
Name: Name, dtype: int64